# Virtual environment
venv/

# Packages
*.py[a-z]
*.pyc
__pycache__/*
_pycache_/*
.pylintrc

=======
*.py[co]
__pycache__
*~
*.bak
\#*#
.#*

*.swp
*.map
.idea/

/.project
/.pydevproject
.ipynb_checkpoints
*shared/
*.cache
wandb/
catboost_info/
*.logs
.DS_Store